@page
@model TestAspNetCore.Pages.Error2Model
@{
    ViewData["Title"] = "運算錯誤";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>運算出現錯誤: 1/0</p>
    <p>
        程式:
        int c = 0;
        int a = 1 / c;

        number = a;
    </p>

    <p>@ViewData["number"]</p>
</div>
